a{
    background-color: rgba(0, 0, 0, 0.2); 
    color: #fff; 
    text-decoration: none;
  }
      body{
           background-color: rgb(215, 218, 221);
           }
      form{


          background-color: rgb(255, 255, 255);
          border-style: solid; 
          border-color: rgb(143, 145, 148);
          border-radius: 8px;
          
          padding: 20px;
          width: 50%;

          border-width: 1px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);


          }
      input{
              display: block;
              margin: 8px 0 15px;
              padding: 8px;
              width: 90%;
              border-radius: 7px;
              border-width: 1px;
           }
      input:focus{
                  border: 0.5px rgb(153, 196, 224);
                  box-shadow:0 0 10px rgb(106, 176, 223);
                  outline: none;
                 }