@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        a{
          background-color: rgba(0, 0, 0, 0.2); 
          color: #fff; 
          text-decoration: none;
        }
        h1{
              text-align: center;
              margin-top: 30px;
          }
        body{
              font-family: 'Roboto', sans-serif;
              background-color: rgb(194, 194, 194);
            }
        .div1{
              width: 300px;
              display: inline-block;
              border: 1px solid #777;
            }
        .descricao{
              text-align: center;
                  }